<?xml version="1.0"?>
<launch>

  <param name="use_gui" value="true"/>

  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
 <!--  <arg name="urdf_path" default="$(find roverv1)/urdf/modell.urdf"/> -->

  <arg name="urdf_path" default="$(find roverv1)/urdf/mrcp_trex_moving.urdf"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>  
  <arg name="debug" default="false" />
  <arg name="verbose" default="true" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find roverv1)/worlds/roverv1.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server --> 
  <param name="robot_description" textfile="$(arg urdf_path)"/>
  
  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model roverv1 -x 0.0 -y 0.0 -z 0.0"
  respawn="false" output="screen" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find roverv1)/config/roverv1_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller robot_base_velocity_controller"/>

  <!-- 
  <node name="rover_control_node" pkg="roverv1" type="mvmt_control_node.py" />
  <node name="convert_rqt_to_rover" pkg="roverv1" type="convert_rqt_to_rover.py" /> -->

  <!--  If it is in the roslaunch file, it is globally effective. The above code can also be placed in the node, such as -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="true"/>
  </node>
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/roverv1/joint_states" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args = "0 0 0 0 0 0 world link_1 10" />
  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args = "0 0 0 0 0 0 world map 10" /> 


</launch>
