<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find trex_control)/config/trex_control.yaml" command="load"/>

  <!-- Generate a controller to control the robot in gazebo: load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/urdf_trex" args="joint_state_controller trex_arm_controller"/>

  <!-- Run a robot state publisher to take the joint values and publish them to tf -->
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>


