<?xml version="1.0"?>
<launch>

  <!-- Set to true, you can jump out of a GUI box, the joint angle motion range is read from URDF, 
  drag the progress bar to change the joint value of the robot, and let the robot move. -->
  <param name="use_gui" value="true"/>

  <!-- Gazebo arguments: these are the arguments you can pass this launch file-->
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="urdf_path" default="$(find trex_gripper_urdf)/urdf/trex_gripper_urdf.urdf"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>  
  <arg name="debug" default="false" />
  <arg name="verbose" default="true" />


<!-- startup simulated world -->
<!-- launch Gazebo with own world configuration -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find trex_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)" />
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model trex_gripper -x 0 -y 0 -z 0"
    respawn="false" output="screen" />


  <!--  .............................   tf   ......................................... -->
  <!-- tf is a package that lets the user keep track of multiple coordinate frames over time. 
  tf maintains the relationship between coordinate frames in a tree structure buffered in time, 
  and lets the user transform points, vectors, etc between any two coordinate frames at any desired point in time.  -->


  <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms  -->
  <!-- Publish a static coordinate transform to tf using an x/y/z offset in meters and yaw/pitch/roll in radians. 
  (yaw is rotation about Z, pitch is rotation about Y, and roll is rotation about X). 
  The period, in milliseconds, specifies how often to send a transform. 100ms (10hz) is a good value.  -->
  <node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args = "0 0 0 0 0 0 world link_1 10" />
  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args = "0 0 0 0 0 0 world map 10" /> 

</launch>
