<?xml version="1.0"?>
<robot name="roverv1" xmlns:xacro="http://www.ros.org/wiki/xacro">


 <transmission name="Right_Rocker_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Right_Rocker_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Right_Rocker_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>



  <transmission name="Left_Rocker_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Left_Rocker_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Left_Rocker_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>



<transmission name="Right_Bogie_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Right_Bogie_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Right_Bogie_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

 

<transmission name="Left_Bogie_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Left_Bogie_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Left_Bogie_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Servo4_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Servo4_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Servo4_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Servo3_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Servo3_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Servo3_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<transmission name="Servo2_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Servo2_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Servo2_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Servo1_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Servo1_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Servo1_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Motor6_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Motor6_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Motor6_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>



<transmission name="Motor5_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Motor5_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Motor5_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Motor4_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Motor4_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Motor4_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Motor3_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Motor3_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Motor3_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Motor2_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Motor2_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Motor2_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


<transmission name="Motor1_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Motor1_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Motor1_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</robot>
